<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>ChessTime Server</display-name>
  <servlet>
    <servlet-name>searchPlayerServlet</servlet-name>
    <servlet-class>chesstimeserver.networking.servlets.SearchPlayerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchPlayerServlet</servlet-name>
    <url-pattern>/findGame/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFirebaseTokenServlet</display-name>
    <servlet-name>UpdateFirebaseTokenServlet</servlet-name>
    <servlet-class>chesstimeserver.networking.servlets.UpdateFirebaseTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFirebaseTokenServlet</servlet-name>
    <url-pattern>/updateFirebaseToken</url-pattern>
  </servlet-mapping>
</web-app>